body {
    margin: 0;
    padding: 0;
    
}

header {
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
}

header .logo {
    height: 120px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
    margin-left: -50px;
}

header nav {
    float: right;
    height: 120px;
    line-height: 120px;
    display: flex;
}
button .link
{
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Armata', sans-serif;
}

.link {
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Armata', sans-serif;

}

.link:hover {
    color: #60b0f4;
    
}

.menu-toggle {
    color: white;
    float: right;
    line-height: 70px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px)
{
    header
    {
        height: 78px;
        padding: 0 20px;
    }
    .menu-toggle
    {
        display: block;
    }
    header nav 
    {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        z-index: 1;
        top: 78px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active
    {
        left: 0;
    }
    header .nav-links 
    {
        display: block;
        text-align: center;

    }

    header .link 
    {
        border-bottom: 1px solid rgba(0,0,0, .2);

    }
    header .logo {
        height: 78px;
        line-height: 50px;
        font-size: 24px;
        float: left;
        font-weight: bold;
        margin-left: -30px;
    }
}