.home-container {
    line-height: 1.5;
    border-radius: 4px;
    text-align: center;
    color: white;
}

.landing-container {
    height: 85%;
    width: 85%;
    margin: 0 auto;
}

.landing-title {
    font-family: "Black Ops One", cursive;
}

.register-link {
    color: #2D3E3F;
    text-decoration: none;
}