.welcome-container {
    padding: 30px;

    
}

.welcome 
{
    color: whitesmoke;
    
}

@media (max-width: 991px)
{
    .welcome-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-title
{
    display: flex;
    color: whitesmoke;
    margin-top: 100px;
    font-family: 'Armata', sans-serif;
    font-size: 48px;
}
.welcome-body
{
    color: whitesmoke;
    font-family: 'Armata', sans-serif;
    font-size: 20px;
}
}

@media (min-width: 991px)
{
    .welcome-container
{

    display: flex;
    flex-direction: column;
    height: 800px;
    margin-left: 70px;
}
.welcome-title
{
    display: flex;
    color: whitesmoke;
    font-family: 'Armata', sans-serif;
    margin-top: 400px;
    font-size: 48px;
}

.welcome-body
{
    max-width: 400px;
    color: whitesmoke;
    font-size: 25px;
}

}