.workout-form {
    font-family: 'Armata', sans-serif;

    color: whitesmoke;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

fieldset
{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) )
}

.general-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.form-title {
    text-align: center;
    font-size: 2rem;
    margin: 20px;
}

.field-container {
    padding: 5px;
}
.submit-btn-box {
    text-align: center;
}

.submit-btn {
    margin: 10px;
    background-color: #60b0f4;
    border-radius: 4px;
    font-size: 1em;
    width: 40%;
    height: 40px;
    color: whitesmoke;
}

.submit-btn:hover {
    transition: .5s;
    background-color: whitesmoke;

}

@media(min-width: 750px) {
    .workout-form {
        margin: 0 auto;
        width: 40%;
    }

    .field-container {
        margin: 10px;
    }

    .exerciseType
    {
        background-color: whitesmoke;
    }
}

@media (min-width: 991px)
{
    .form-title {
        text-align: center;
        font-size: 2rem;
        margin: 200px;
    }
    
    .general-inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .form-input
    {
        text-align: center;
    }
}